.text{
    width: 90%;
    padding: 2% 0px;
    margin: 0 auto;
    p{
        font-size: 18px;
        color: inherit;
        font-weight: 500;
        span{
            font-size: 22px;
            font-weight: 700;
            color: inherit;
        }
    } 
}