.form {
  padding: 100px;
  display: grid;
  place-items: center;

  &__wrapper {
    width: 800px;
    border: 1px solid #4f6046;
    padding: 50px;
    border-radius: 12px;
  }

  &__input {
    padding: 8px 20px;
    border-color: #9dc08b;
  }

  &__btn {
    background-color: #9dc08b;
    &:hover {
      background-color: #939d8f !important;
    }
    &:active {
      background-color: #4f6046 !important;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1100px) {
  .form {
    padding: 20px;
    &__wrapper {
      width: 500px;
    }
  }
}

@media only screen and (max-width: 620px) {
  .form {
    &__wrapper {
      width: 300px;
    }
  }
}
