.layout {
  min-height: 100vh;
  overflow-x: hidden;
}

.middle {
  display: flex;
  min-height: 80vh;
  .children {
    width: 100%;
    width: 85vw;
    padding: 100px 20px 40px;
  }
}
.sidebar {
  width: 15vw;
  height: 100vh;
  max-width: 20vw;
  min-width: 150px;

  .closeMenu {
    display: none;
  }
}
.full_right {
  width: 100% !important;
}
.right {
  width: 85vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .middle {
    .children {
      padding: 130px 6% 40px;
      min-height: 100vh;
      width: 100vw;
    }
    .sidebar {
      width: 0vw;
      min-width: 0px;
      max-width: none;

      .closeMenu {
        visibility: hidden;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: rgba(30, 30, 30, 0.376);
        z-index: 90;
        top: 110px;
      }

      .open {
        visibility: visible !important;
      }
    }
  }

  .right {
    width: 100%;
  }
}
