.layout {
    min-height: 100vh;
}

.middle {
    display: flex;
    min-height: 80vh;
    .children {
        width: 100%;
        padding: 100px 20px 40px;
    }
}
.sidebar {
    width: 200px;
    height: 100vh;
    min-width: 200px;
}
.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}