.karzina {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 0;
  &__card {
    background-color: lightgreen;
    padding: 10px;
    border-radius: 12px;
    display: grid;
    place-items: center;
    gap: 10px;
  }
}
