*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.singlecateg{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    gap: 20px;
    justify-content: center;
    .card{
        width: 235px;
        padding: 15px;
        border-radius: 20px;
        border: 1px solid gray;
        .card_img{
            width: 100%;
            height: 150px;
            background-color: #F9F9F9;
            border-radius: 20px;
            position: relative;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .price{
            display: flex;
            justify-content: space-between;
            align-items: baseline   ;
            gap: 15px;
            flex-wrap: wrap;
            padding-top: 15px;
        }
        button{
            background-color: #46760A;
            color: white;
            padding: 7px 12px;
            border-radius: 10px;
            border: 1px solid white;
            &:hover{
                background-color: #45760abd;
            }
        }
    }
}