ul,
p {
  margin: 0;
  padding: 0;
}

.bar {
  width: 15vw;
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 0 20px;
  left: 0;
  top: 70px;
  height: 100vh;
  background-color: #a3db87;
  min-width: 150px;
  z-index: 99;
  overflow-y: scroll;

  &__list {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 800px) {
  .bar {
    top: 110px;
    left: -100%;
  }

  .open {
    left: 0 !important;
  }
}

.bar::-webkit-scrollbar {
  width: 0;
}
