ul {
  margin: 0;
  padding: 0;
}

.bar {
  width: 200px;
  display: flex;
  flex-direction: column;
  position: fixed;
  padding-left: 40px;
  // text-align: start;
  left: 0;
  top: 0;
  min-width: 200px;
  height: 100vh;
  // background-color: #a3db87;
  background-color: white;
  border-right: 1px solid rgba(0, 0, 0, 0.151);


  &__list {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
