ul {
  margin: 0;
  padding: 0;
}

.bar {
  background-color: #9dc08b;
  height: 100vh;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__list {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
