.footer {
  padding: 40px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: rgb(107, 178, 0);
    font-size: 20px;
  }

  &__map {
    width: 600px;
  }
}
